.container-details {
    width: 90%;
    height: 90%;

    padding: 10px 20px;
    background-color: #f7f7f7;
    box-shadow: 4px 4px 10px #0d0d0d2d;
}

.container-details h3 {
    margin-top: 40px;
}

.nome-veiculo {
    color: #307fff;
    font-size: 30px;
    margin: 10px 0px;
}

.container-marca-ano {
    display: flex;
}

.marca-ano-titulo {
    font-weight: bold;
}

.container-marca-ano div {
    width: 50%;
}

.descricao-veiculo {
    height: 30%;
    font-size: 15px;
    margin-top: 10px;
}

.container-edit {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 0px;
    border-top: 1px solid #747474;
}

.container-edit button {
    width: 150px;
    height: 50px;

    border: none;
    border-radius: 3px;
    background-color: #307fff;

    color: white;
    font-size: 20px;
    font-weight: bold;

    cursor: pointer;
}

.container-edit button:hover {
    background-color: #f2f2f2;
    border: 1px solid #307fff;
    color: #307fff;
}

.ticket-venda {
    rotate: 270deg;
    cursor: pointer;
}

@media (max-width: 600px) {
    .container-details {
        height: 100%;
        width: 90%;
    }
}
