.card-lista {
    gap: 10px;
    display: flex;
    flex-direction: column;

    width: 90%;
    max-height: 95%;

    overflow-y: scroll;
}
@media (max-width: 600px){
    .card-lista{
        width: 100%;
        max-height: 90%;
    }
}
