.main {
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header {
    display: flex;
    gap: 30px;
}

.buscar_container {
    background-color: #fff;
    border-radius: 5rem;
    width: 100%;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
}

.buscar_container input {
    width: 100%;
    height: 100%;
    border-radius: 5rem;
    padding-left: 15px;
    background-color: #fff;
    
    border: 1px solid rgb(187, 187, 187);
}
